:root {
    --desktop-search-input-height: 44px;
    
    --desktop-bigrank-list-height: 250px;
    --tablet-bigrank-list-height: 200px;
    --mobile-bigrank-list-height: 230px;
    
    --desktop-detail-summary-height: 520px;

    --desktop-detail-analysis-height: 1000px;
    --desktop-detail-analy-summary: 250px;

    --num-font: 'robo';
    --color-grey0:#5E5E5E;
}